In [18]:
text1 = "Guneet kaur is daugter of harpal Singh and baljeet Kaur"

#find the total number of characters in text 
len(text1)

55

In [19]:
# finding the words

text2 = text1.split(' ')
print(len(text2))
print(text2)

10
['Guneet', 'kaur', 'is', 'daugter', 'of', 'harpal', 'Singh', 'and', 'baljeet', 'Kaur']

In [20]:
# finding specific words e.g words which are more than 3 characters

text3 = [w for w in text2 if len(w)>5]

text3

['Guneet', 'daugter', 'harpal', 'baljeet']

In [21]:
#finding capitalized words

text4 = [w for w in text2 if w.istitle()]
text4

['Guneet', 'Singh', 'Kaur']

In [22]:
# words that end with specific alpha

text5 = [w for w in text2 if w.endswith('r')]
text5

['kaur', 'daugter', 'Kaur']

In [23]:
# finding unique words

print(len(set(text2)))

print(set(text2))

10
set(['and', 'daugter', 'kaur', 'Guneet', 'Singh', 'Kaur', 'baljeet', 'of', 'harpal', 'is'])

In [24]:
# in above example kaur and Kaur appeared as different set of words 

text6 = [w.lower() for w in text2]

print(len(set(text6)))
print(set(text6))

9
set(['and', 'daugter', 'kaur', 'guneet', 'singh', 'baljeet', 'of', 'harpal', 'is'])

## String Operations

In [25]:
text7 = "ouagadougou"
text8 = text7.split('ou')
text8

['', 'agad', 'g', '']

In [26]:
#join

'ou'.join(text8)

'ouagadougou'

In [28]:
# find characters in words

#text9 = text7.split('') # gives empty separator

list(text7)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

## Cleaning Text

In [30]:
text9 = '   A quick brown fox jumped over the lazy dog. '
text9.split(' ')

['',
 '',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '']

In [32]:
text10 = text9.strip()
text10.split(' ')

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

## Changing Text

In [34]:
# finding and relplace
text10.find('o')
text10.replace('o', '0')

'A quick br0wn f0x jumped 0ver the lazy d0g.'

## Regular Expressions for Dates

In [39]:
text11 = '23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct 23, 2002\nOctober 23, 2002'

import re
re.findall(r'\d{2}[\-]\d{2}[\-]\d{2,4}', text11)

['23-10-2002']